In [1]:
import pandas as pd
import numpy as np
import requests
import csv
import string

In [2]:
#df = pd.read_csv(
#                "C:/Users/feherdavid/Downloads/input.txt", 
#                 sep=' ',
#                 skip_blank_lines=False, header = None, names=['rucksacks'])

In [3]:
df = pd.read_csv(
                "https://raw.githubusercontent.com/pirosbogar/advent_of_code_2022/main/inputs/03/input.txt", 
                 sep=' ',
                 skip_blank_lines=False, header = None, names=['rucksacks'])

In [4]:
df.head()

                                  rucksacks
0          NLBLfrNNLvqwbMfDqSjSzzSJjjggcdVs
1                    lTRGPPZnRRHszcsZdSsccZ
2                    CFTTFtFHTtCtDDzrmBtrBD
3  BJldgBWnRgWNWtllSlWShMcLcVSvVjbVVVvDVVVL
4        HFGFwqQPQGwHrTFpwmThMbDDVcVmLvvshj

In [5]:
result = []

for x in df['rucksacks']:
    chunks, chunk_size = len(x), len(x)//2
    
    z = [ x[i:i+chunk_size] for i in range(0, chunks, chunk_size) ]
    
    result.append(z)

In [6]:
result[:5]

[['NLBLfrNNLvqwbMfD', 'qSjSzzSJjjggcdVs'],
 ['lTRGPPZnRRH', 'szcsZdSsccZ'],
 ['CFTTFtFHTtC', 'tDDzrmBtrBD'],
 ['BJldgBWnRgWNWtllSlWS', 'hMcLcVSvVjbVVVvDVVVL'],
 ['HFGFwqQPQGwHrTFpw', 'mThMbDDVcVmLvvshj']]

In [7]:
df2 = pd.DataFrame(result, columns = ['compartment1', 'compartment2'])

In [8]:
df2.head()

           compartment1          compartment2
0      NLBLfrNNLvqwbMfD      qSjSzzSJjjggcdVs
1           lTRGPPZnRRH           szcsZdSsccZ
2           CFTTFtFHTtC           tDDzrmBtrBD
3  BJldgBWnRgWNWtllSlWS  hMcLcVSvVjbVVVvDVVVL
4     HFGFwqQPQGwHrTFpw     mThMbDDVcVmLvvshj

In [46]:
match = []

for a, b in zip(df2.compartment1, df2.compartment2):
    z = set(a).intersection(b)
    match.append(z)

In [47]:
print(match)

[{'q'}, {'Z'}, {'t'}, {'S'}, {'T'}, {'f'}, {'j'}, {'m'}, {'Z'}, {'W'}, {'J'}, {'c'}, {'S'}, {'q'}, {'j'}, {'p'}, {'q'}, {'Q'}, {'t'}, {'R'}, {'S'}, {'d'}, {'S'}, {'N'}, {'s'}, {'j'}, {'H'}, {'H'}, {'G'}, {'r'}, {'L'}, {'j'}, {'g'}, {'p'}, {'H'}, {'v'}, {'v'}, {'d'}, {'J'}, {'D'}, {'Q'}, {'p'}, {'R'}, {'D'}, {'P'}, {'D'}, {'r'}, {'p'}, {'r'}, {'c'}, {'M'}, {'b'}, {'h'}, {'B'}, {'c'}, {'F'}, {'L'}, {'G'}, {'n'}, {'r'}, {'q'}, {'Z'}, {'r'}, {'s'}, {'W'}, {'h'}, {'R'}, {'j'}, {'Q'}, {'J'}, {'r'}, {'v'}, {'Q'}, {'B'}, {'R'}, {'z'}, {'m'}, {'c'}, {'Z'}, {'R'}, {'h'}, {'w'}, {'G'}, {'z'}, {'G'}, {'g'}, {'f'}, {'V'}, {'P'}, {'J'}, {'S'}, {'F'}, {'Q'}, {'C'}, {'f'}, {'m'}, {'r'}, {'H'}, {'w'}, {'T'}, {'Q'}, {'b'}, {'T'}, {'h'}, {'b'}, {'M'}, {'w'}, {'l'}, {'j'}, {'Q'}, {'s'}, {'C'}, {'b'}, {'S'}, {'d'}, {'P'}, {'N'}, {'n'}, {'H'}, {'q'}, {'B'}, {'C'}, {'r'}, {'q'}, {'d'}, {'h'}, {'s'}, {'b'}, {'T'}, {'s'}, {'z'}, {'g'}, {'v'}, {'P'}, {'g'}, {'W'}, {'d'}, {'C'}, {'V'}, {'L'}, {'B'}, {'N'}, {'c'}, {'d'}, {'L'}, {'Z'}, {'V'}, {'T'}, {'S'}, {'p'}, {'F'}, {'d'}, {'H'}, {'g'}, {'G'}, {'Q'}, {'J'}, {'l'}, {'j'}, {'L'}, {'p'}, {'H'}, {'z'}, {'l'}, {'h'}, {'m'}, {'w'}, {'q'}, {'Q'}, {'h'}, {'g'}, {'b'}, {'G'}, {'r'}, {'m'}, {'v'}, {'L'}, {'P'}, {'t'}, {'F'}, {'G'}, {'T'}, {'P'}, {'t'}, {'F'}, {'S'}, {'D'}, {'V'}, {'B'}, {'w'}, {'W'}, {'F'}, {'n'}, {'f'}, {'T'}, {'n'}, {'V'}, {'p'}, {'c'}, {'b'}, {'L'}, {'R'}, {'Q'}, {'N'}, {'s'}, {'l'}, {'V'}, {'c'}, {'j'}, {'m'}, {'z'}, {'b'}, {'W'}, {'T'}, {'J'}, {'n'}, {'q'}, {'P'}, {'G'}, {'H'}, {'g'}, {'V'}, {'G'}, {'Z'}, {'l'}, {'z'}, {'q'}, {'g'}, {'D'}, {'C'}, {'B'}, {'g'}, {'L'}, {'q'}, {'Z'}, {'R'}, {'N'}, {'P'}, {'n'}, {'F'}, {'V'}, {'S'}, {'D'}, {'m'}, {'T'}, {'s'}, {'M'}, {'P'}, {'D'}, {'P'}, {'j'}, {'C'}, {'g'}, {'j'}, {'S'}, {'F'}, {'f'}, {'C'}, {'L'}, {'T'}, {'c'}, {'W'}, {'v'}, {'N'}, {'P'}, {'R'}, {'v'}, {'M'}, {'g'}, {'Q'}, {'D'}, {'v'}, {'G'}, {'t'}, {'w'}, {'z'}, {'D'}, {'B'}, {'l'}, {'V'}, {'T'}, {'j'}, {'h'}, {'Z'}, {'M'}, {'q'}, {'S'}, {'b'}, {'s'}, {'h'}, {'f'}, {'q'}, {'L'}, {'f'}, {'J'}, {'b'}, {'F'}, {'h'}, {'Z'}, {'B'}]

In [11]:
matchlist = []

for sublist in match:
    for item in sublist:
        matchlist.append(item)

In [12]:
print(matchlist)

['q', 'Z', 't', 'S', 'T', 'f', 'j', 'm', 'Z', 'W', 'J', 'c', 'S', 'q', 'j', 'p', 'q', 'Q', 't', 'R', 'S', 'd', 'S', 'N', 's', 'j', 'H', 'H', 'G', 'r', 'L', 'j', 'g', 'p', 'H', 'v', 'v', 'd', 'J', 'D', 'Q', 'p', 'R', 'D', 'P', 'D', 'r', 'p', 'r', 'c', 'M', 'b', 'h', 'B', 'c', 'F', 'L', 'G', 'n', 'r', 'q', 'Z', 'r', 's', 'W', 'h', 'R', 'j', 'Q', 'J', 'r', 'v', 'Q', 'B', 'R', 'z', 'm', 'c', 'Z', 'R', 'h', 'w', 'G', 'z', 'G', 'g', 'f', 'V', 'P', 'J', 'S', 'F', 'Q', 'C', 'f', 'm', 'r', 'H', 'w', 'T', 'Q', 'b', 'T', 'h', 'b', 'M', 'w', 'l', 'j', 'Q', 's', 'C', 'b', 'S', 'd', 'P', 'N', 'n', 'H', 'q', 'B', 'C', 'r', 'q', 'd', 'h', 's', 'b', 'T', 's', 'z', 'g', 'v', 'P', 'g', 'W', 'd', 'C', 'V', 'L', 'B', 'N', 'c', 'd', 'L', 'Z', 'V', 'T', 'S', 'p', 'F', 'd', 'H', 'g', 'G', 'Q', 'J', 'l', 'j', 'L', 'p', 'H', 'z', 'l', 'h', 'm', 'w', 'q', 'Q', 'h', 'g', 'b', 'G', 'r', 'm', 'v', 'L', 'P', 't', 'F', 'G', 'T', 'P', 't', 'F', 'S', 'D', 'V', 'B', 'w', 'W', 'F', 'n', 'f', 'T', 'n', 'V', 'p', 'c', 'b', 'L', 'R', 'Q', 'N', 's', 'l', 'V', 'c', 'j', 'm', 'z', 'b', 'W', 'T', 'J', 'n', 'q', 'P', 'G', 'H', 'g', 'V', 'G', 'Z', 'l', 'z', 'q', 'g', 'D', 'C', 'B', 'g', 'L', 'q', 'Z', 'R', 'N', 'P', 'n', 'F', 'V', 'S', 'D', 'm', 'T', 's', 'M', 'P', 'D', 'P', 'j', 'C', 'g', 'j', 'S', 'F', 'f', 'C', 'L', 'T', 'c', 'W', 'v', 'N', 'P', 'R', 'v', 'M', 'g', 'Q', 'D', 'v', 'G', 't', 'w', 'z', 'D', 'B', 'l', 'V', 'T', 'j', 'h', 'Z', 'M', 'q', 'S', 'b', 's', 'h', 'f', 'q', 'L', 'f', 'J', 'b', 'F', 'h', 'Z', 'B']

In [13]:
alphabet_lower = list(string.ascii_lowercase)
alphabet_upper = list(string.ascii_uppercase)

alphabet = alphabet_lower + alphabet_upper

In [14]:
print(alphabet)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [15]:
points = np.arange(1,53)

In [16]:
print(points)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
 49 50 51 52]

In [17]:
priority = pd.DataFrame(list(zip(alphabet, points)), columns = ['alphabet', 'points'])

In [18]:
print(priority)

   alphabet  points
0         a       1
1         b       2
2         c       3
3         d       4
4         e       5
5         f       6
6         g       7
7         h       8
8         i       9
9         j      10
10        k      11
11        l      12
12        m      13
13        n      14
14        o      15
15        p      16
16        q      17
17        r      18
18        s      19
19        t      20
20        u      21
21        v      22
22        w      23
23        x      24
24        y      25
25        z      26
26        A      27
27        B      28
28        C      29
29        D      30
30        E      31
31        F      32
32        G      33
33        H      34
34        I      35
35        J      36
36        K      37
37        L      38
38        M      39
39        N      40
40        O      41
41        P      42
42        Q      43
43        R      44
44        S      45
45        T      46
46        U      47
47        V      48
48        W      49
49        X      50
50        Y      51
51        Z      52

In [19]:
df2['matches'] = matchlist

In [20]:
df2.head()

           compartment1          compartment2 matches
0      NLBLfrNNLvqwbMfD      qSjSzzSJjjggcdVs       q
1           lTRGPPZnRRH           szcsZdSsccZ       Z
2           CFTTFtFHTtC           tDDzrmBtrBD       t
3  BJldgBWnRgWNWtllSlWS  hMcLcVSvVjbVVVvDVVVL       S
4     HFGFwqQPQGwHrTFpw     mThMbDDVcVmLvvshj       T

In [21]:
df3 = df2.merge(priority, left_on='matches', right_on = 'alphabet', how = 'left').drop(columns = ['alphabet'])

In [22]:
df3.head()

           compartment1          compartment2 matches  points
0      NLBLfrNNLvqwbMfD      qSjSzzSJjjggcdVs       q      17
1           lTRGPPZnRRH           szcsZdSsccZ       Z      52
2           CFTTFtFHTtC           tDDzrmBtrBD       t      20
3  BJldgBWnRgWNWtllSlWS  hMcLcVSvVjbVVVvDVVVL       S      45
4     HFGFwqQPQGwHrTFpw     mThMbDDVcVmLvvshj       T      46

#### Question 1: What is the sum of the priorities of the matching item types?

In [23]:
df3.sum()

compartment1    NLBLfrNNLvqwbMfDlTRGPPZnRRHCFTTFtFHTtCBJldgBWn...
compartment2    qSjSzzSJjjggcdVsszcsZdSsccZtDDzrmBtrBDhMcLcVSv...
matches         qZtSTfjmZWJcSqjpqQtRSdSNsjHHGrLjgpHvvdJDQpRDPD...
points                                                       7990
dtype: object

#### Question 2: What is the sum of the priorities of the matching item types among the groups of 3 elves?

In [30]:
my_list = [1,2,3]
n = 100

groupings = my_list * n

In [31]:
print(len(groupings), groupings[:10])

300 [1, 2, 3, 1, 2, 3, 1, 2, 3, 1]

In [32]:
df4 = df
df4['groupings'] = groupings

In [33]:
df4.head()

                                  rucksacks  groupings
0          NLBLfrNNLvqwbMfDqSjSzzSJjjggcdVs          1
1                    lTRGPPZnRRHszcsZdSsccZ          2
2                    CFTTFtFHTtCtDDzrmBtrBD          3
3  BJldgBWnRgWNWtllSlWShMcLcVSvVjbVVVvDVVVL          1
4        HFGFwqQPQGwHrTFpwmThMbDDVcVmLvvshj          2

In [36]:
df5 = df4.pivot(index = None, columns = 'groupings', values = 'rucksacks')

In [37]:
df5.head()

groupings,1,2,3
0,NLBLfrNNLvqwbMfDqSjSzzSJjjggcdVs,NaN,NaN
1,NaN,lTRGPPZnRRHszcsZdSsccZ,NaN
2,NaN,NaN,CFTTFtFHTtCtDDzrmBtrBD
3,BJldgBWnRgWNWtllSlWShMcLcVSvVjbVVVvDVVVL,NaN,NaN
4,NaN,HFGFwqQPQGwHrTFpwmThMbDDVcVmLvvshj,NaN

In [38]:
df6 = df5.apply(lambda x: pd.Series(x.dropna().values))

In [42]:
df6.columns = ['compartment1', 'compartment2', 'compartment3']
df6.head()

,compartment1,compartment2,compartment3
0,NLBLfrNNLvqwbMfDqSjSzzSJjjggcdVs,lTRGPPZnRRHszcsZdSsccZ,CFTTFtFHTtCtDDzrmBtrBD
1,BJldgBWnRgWNWtllSlWShMcLcVSvVjbVVVvDVVVL,HFGFwqQPQGwHrTFpwmThMbDDVcVmLvvshj,HrpHrGPZZCQrfqlNdtMlzfMltlgn
2,hQLhBtBtQNQjBjNLvtLjzLJpWbjJdppSwjpCCplllJdj,FGFsmccSPTVPfVVHpJJgwlJwwWJWpCmR,sFPfPFHZTHScnzBttqzvQzqZ
3,MNTGMTnGWvTwwwnZhNZnWDPPdSjqsSPWjmBCSBWS,RJrtVfRlLrfHgblHJVBjqqFmjCdBJjDmJdSD,tgRftftRcRLftrpHpflHlctVwNNvZNcTwZnznQzwTzmhQwQh
4,sQPpQpQhnlNsJpJSQphHcZffLfgLHSfHVHHFZZ,zBCvrrWzTwqzcbtbqCbrCCwWLMfVVmmHVfqHFHFgGHLZGmVG,rvvjBzTjrwQRcpjNsRss

In [40]:
len(df6)

100

In [48]:
match_3 = []

for a, b, c in zip(df6.compartment1, df6.compartment2, df6.compartment3):
    z = set(a).intersection(b).intersection(c)
    match_3.append(z)

In [49]:
print(match_3)
print(len(match_3))

[{'z'}, {'M'}, {'S'}, {'m'}, {'c'}, {'n'}, {'g'}, {'s'}, {'p'}, {'p'}, {'t'}, {'h'}, {'T'}, {'l'}, {'H'}, {'n'}, {'B'}, {'r'}, {'W'}, {'H'}, {'G'}, {'w'}, {'M'}, {'P'}, {'r'}, {'n'}, {'d'}, {'L'}, {'w'}, {'F'}, {'J'}, {'z'}, {'m'}, {'P'}, {'s'}, {'R'}, {'W'}, {'s'}, {'V'}, {'f'}, {'Q'}, {'R'}, {'J'}, {'r'}, {'C'}, {'B'}, {'j'}, {'t'}, {'d'}, {'F'}, {'P'}, {'d'}, {'T'}, {'v'}, {'g'}, {'V'}, {'d'}, {'l'}, {'P'}, {'d'}, {'j'}, {'g'}, {'t'}, {'S'}, {'L'}, {'f'}, {'T'}, {'M'}, {'r'}, {'n'}, {'g'}, {'Z'}, {'L'}, {'j'}, {'M'}, {'G'}, {'G'}, {'Z'}, {'p'}, {'M'}, {'n'}, {'M'}, {'V'}, {'h'}, {'l'}, {'R'}, {'N'}, {'p'}, {'H'}, {'n'}, {'P'}, {'s'}, {'j'}, {'l'}, {'J'}, {'p'}, {'D'}, {'H'}, {'h'}, {'N'}]
100

In [50]:
matchlist_3 = []

for sublist in match_3:
    for item in sublist:
        matchlist_3.append(item)

In [51]:
print(matchlist_3)

['z', 'M', 'S', 'm', 'c', 'n', 'g', 's', 'p', 'p', 't', 'h', 'T', 'l', 'H', 'n', 'B', 'r', 'W', 'H', 'G', 'w', 'M', 'P', 'r', 'n', 'd', 'L', 'w', 'F', 'J', 'z', 'm', 'P', 's', 'R', 'W', 's', 'V', 'f', 'Q', 'R', 'J', 'r', 'C', 'B', 'j', 't', 'd', 'F', 'P', 'd', 'T', 'v', 'g', 'V', 'd', 'l', 'P', 'd', 'j', 'g', 't', 'S', 'L', 'f', 'T', 'M', 'r', 'n', 'g', 'Z', 'L', 'j', 'M', 'G', 'G', 'Z', 'p', 'M', 'n', 'M', 'V', 'h', 'l', 'R', 'N', 'p', 'H', 'n', 'P', 's', 'j', 'l', 'J', 'p', 'D', 'H', 'h', 'N']

In [52]:
df6['matches'] = matchlist_3

In [53]:
df6.head()

,compartment1,compartment2,compartment3,matches
0,NLBLfrNNLvqwbMfDqSjSzzSJjjggcdVs,lTRGPPZnRRHszcsZdSsccZ,CFTTFtFHTtCtDDzrmBtrBD,z
1,BJldgBWnRgWNWtllSlWShMcLcVSvVjbVVVvDVVVL,HFGFwqQPQGwHrTFpwmThMbDDVcVmLvvshj,HrpHrGPZZCQrfqlNdtMlzfMltlgn,M
2,hQLhBtBtQNQjBjNLvtLjzLJpWbjJdppSwjpCCplllJdj,FGFsmccSPTVPfVVHpJJgwlJwwWJWpCmR,sFPfPFHZTHScnzBttqzvQzqZ,S
3,MNTGMTnGWvTwwwnZhNZnWDPPdSjqsSPWjmBCSBWS,RJrtVfRlLrfHgblHJVBjqqFmjCdBJjDmJdSD,tgRftftRcRLftrpHpflHlctVwNNvZNcTwZnznQzwTzmhQwQh,m
4,sQPpQpQhnlNsJpJSQphHcZffLfgLHSfHVHHFZZ,zBCvrrWzTwqzcbtbqCbrCCwWLMfVVmmHVfqHFHFgGHLZGmVG,rvvjBzTjrwQRcpjNsRss,c

In [54]:
df7 = df6.merge(priority, left_on='matches', right_on = 'alphabet', how = 'left').drop(columns = ['alphabet'])

In [55]:
df7.head()

,compartment1,compartment2,compartment3,matches,points
0,NLBLfrNNLvqwbMfDqSjSzzSJjjggcdVs,lTRGPPZnRRHszcsZdSsccZ,CFTTFtFHTtCtDDzrmBtrBD,z,26
1,BJldgBWnRgWNWtllSlWShMcLcVSvVjbVVVvDVVVL,HFGFwqQPQGwHrTFpwmThMbDDVcVmLvvshj,HrpHrGPZZCQrfqlNdtMlzfMltlgn,M,39
2,hQLhBtBtQNQjBjNLvtLjzLJpWbjJdppSwjpCCplllJdj,FGFsmccSPTVPfVVHpJJgwlJwwWJWpCmR,sFPfPFHZTHScnzBttqzvQzqZ,S,45
3,MNTGMTnGWvTwwwnZhNZnWDPPdSjqsSPWjmBCSBWS,RJrtVfRlLrfHgblHJVBjqqFmjCdBJjDmJdSD,tgRftftRcRLftrpHpflHlctVwNNvZNcTwZnznQzwTzmhQwQh,m,13
4,sQPpQpQhnlNsJpJSQphHcZffLfgLHSfHVHHFZZ,zBCvrrWzTwqzcbtbqCbrCCwWLMfVVmmHVfqHFHFgGHLZGmVG,rvvjBzTjrwQRcpjNsRss,c,3

In [56]:
df7.sum()

compartment1    NLBLfrNNLvqwbMfDqSjSzzSJjjggcdVsBJldgBWnRgWNWt...
compartment2    lTRGPPZnRRHszcsZdSsccZHFGFwqQPQGwHrTFpwmThMbDD...
compartment3    CFTTFtFHTtCtDDzrmBtrBDHrpHrGPZZCQrfqlNdtMlzfMl...
matches         zMSmcngsppthTlHnBrWHGwMPrndLwFJzmPsRWsVfQRJrCB...
points                                                       2602
dtype: object