In [1]:
import pandas as pd
import numpy as np
import requests
import csv
import string

In [2]:
input_file = "https://raw.githubusercontent.com/pirosbogar/advent_of_code_2022/main/inputs/05/input.txt"

In [3]:
# read input file
df = pd.read_csv(
                input_file, 
                 #sep=',',
                 skip_blank_lines=False, header = None, names = ['rows'])

#### After the rearrangement procedure completes, what crate ends up on top of each stack?

In [4]:
df.head(15)

                                   rows
0                   [M]     [V]     [L]
1   [G]             [V] [C] [G]     [D]
2   [J]             [Q] [W] [Z] [C] [J]
3   [W]         [W] [G] [V] [D] [G] [C]
4   [R]     [G] [N] [B] [D] [C] [M] [W]
5   [F] [M] [H] [C] [S] [T] [N] [N] [N]
6   [T] [W] [N] [R] [F] [R] [B] [J] [P]
7   [Z] [G] [J] [J] [W] [S] [H] [S] [G]
8    1   2   3   4   5   6   7   8   9
9                                   NaN
10                   move 1 from 5 to 2
11                   move 7 from 7 to 1
12                   move 1 from 1 to 7
13                   move 1 from 4 to 1
14                   move 7 from 9 to 1

In [5]:
#hardcoding input crate setting
crates_list= [
    ["Z", "T", "F", "R", "W", "J", "G"],
    ["G", "W", "M"],
    ["J", "N", "H", "G"],
    ["J", "R", "C", "N", "W"],
    ["W", "F", "S", "B", "G", "Q", "V", "M"],
    ["S", "R", "T", "D", "V", "W", "C"],
    ["H", "B", "N", "C", "D", "Z", "G", "V"],
    ["S", "J", "N", "M", "G", "C"],
    ["G", "P", "N", "W", "C", "J", "D", "L"]
]

crates_list

[['Z', 'T', 'F', 'R', 'W', 'J', 'G'],
 ['G', 'W', 'M'],
 ['J', 'N', 'H', 'G'],
 ['J', 'R', 'C', 'N', 'W'],
 ['W', 'F', 'S', 'B', 'G', 'Q', 'V', 'M'],
 ['S', 'R', 'T', 'D', 'V', 'W', 'C'],
 ['H', 'B', 'N', 'C', 'D', 'Z', 'G', 'V'],
 ['S', 'J', 'N', 'M', 'G', 'C'],
 ['G', 'P', 'N', 'W', 'C', 'J', 'D', 'L']]

In [6]:
#creating a separate df of the movement instructions
movements = pd.read_csv(
                input_file, 
                 #sep=',',
                 skip_blank_lines=False, header = None, names = ['rows'], skiprows=10)

In [7]:
movements.head()

                 rows
0  move 1 from 5 to 2
1  move 7 from 7 to 1
2  move 1 from 1 to 7
3  move 1 from 4 to 1
4  move 7 from 9 to 1

In [8]:
movements[['trash1', 'amount', 'trash2', 'start', 'trash3', 'end']] = movements['rows'].str.split(' ',expand=True)

In [9]:
movements = movements[['amount', 'start', 'end']]

In [10]:
movements

    amount start end
0        1     5   2
1        7     7   1
2        1     1   7
3        1     4   1
4        7     9   1
..     ...   ...  ..
498     10     9   5
499      9     5   1
500      5     5   2
501      1     6   7
502      5     5   8

[503 rows x 3 columns]

In [11]:
#rearrange the crates
for amount, start, end in zip(movements.amount, movements.start, movements.end):
    amount = int(amount)
    start = int(start)
    end = int(end)

    i = amount
    while i > 0:
        crate = crates_list[start-1].pop()
        crates_list[end-1].append(crate)
        i = i-1

In [12]:
crates_list

[['B', 'D', 'T', 'J', 'D', 'V', 'R', 'H', 'G', 'C'],
 ['S', 'M', 'N', 'W', 'W'],
 ['M', 'S', 'C', 'M'],
 ['P',
  'V',
  'Z',
  'Q',
  'J',
  'F',
  'G',
  'Z',
  'W',
  'N',
  'V',
  'G',
  'C',
  'J',
  'C',
  'R',
  'L',
  'N',
  'F',
  'G',
  'N',
  'R',
  'J',
  'W',
  'C',
  'G',
  'T'],
 ['G'],
 ['H'],
 ['B'],
 ['W', 'N', 'S', 'G', 'D'],
 ['J', 'W']]

In [13]:
#find the top crate in each stack
top = ""
for i in range(len(crates_list)):
    top = "".join([top,crates_list[i].pop()])

In [14]:
print(top)

CWMTGHBDW

#### If the crane can move multiple crates at once (so they stay in order), after the rearrangement procedure completes, what crate ends up on top of each stack?

In [15]:
#reating input crate setting
crates_list= [
    ["Z", "T", "F", "R", "W", "J", "G"],
    ["G", "W", "M"],
    ["J", "N", "H", "G"],
    ["J", "R", "C", "N", "W"],
    ["W", "F", "S", "B", "G", "Q", "V", "M"],
    ["S", "R", "T", "D", "V", "W", "C"],
    ["H", "B", "N", "C", "D", "Z", "G", "V"],
    ["S", "J", "N", "M", "G", "C"],
    ["G", "P", "N", "W", "C", "J", "D", "L"]
]

crates_list

[['Z', 'T', 'F', 'R', 'W', 'J', 'G'],
 ['G', 'W', 'M'],
 ['J', 'N', 'H', 'G'],
 ['J', 'R', 'C', 'N', 'W'],
 ['W', 'F', 'S', 'B', 'G', 'Q', 'V', 'M'],
 ['S', 'R', 'T', 'D', 'V', 'W', 'C'],
 ['H', 'B', 'N', 'C', 'D', 'Z', 'G', 'V'],
 ['S', 'J', 'N', 'M', 'G', 'C'],
 ['G', 'P', 'N', 'W', 'C', 'J', 'D', 'L']]

In [16]:
#rearrange the crates
for amount, start, end in zip(movements.amount, movements.start, movements.end):
    amount = int(amount)
    start = int(start)
    end = int(end)

    i = amount
    while i > 0:
        crate = crates_list[start-1].pop(len(crates_list[start-1]) - i)
        crates_list[end-1].append(crate)
        i = i-1

In [17]:
crates_list

[['G', 'N', 'M', 'G', 'V', 'N', 'B', 'V', 'T', 'S'],
 ['V', 'W', 'N', 'R', 'S'],
 ['R', 'Q', 'Z', 'C'],
 ['J',
  'H',
  'N',
  'G',
  'G',
  'D',
  'D',
  'C',
  'W',
  'C',
  'W',
  'W',
  'T',
  'C',
  'F',
  'S',
  'P',
  'G',
  'D',
  'Z',
  'G',
  'J',
  'J',
  'L',
  'M',
  'F',
  'G'],
 ['W'],
 ['J'],
 ['C'],
 ['H', 'W', 'M', 'N', 'R'],
 ['J', 'B']]

In [18]:
#find the top crate in each stack
top = ""
for i in range(len(crates_list)):
    top = "".join([top,crates_list[i].pop()])

In [19]:
print(top)

SSCGWJCRB